
@{
    ViewData["Title"] = "国家设置";
}

<h2>@ViewData["Title"]</h2>
<hr class="layui-bg-black">

<div class="sreachBar">
    <div class="layui-inline">
        <input class="layui-input" name="id" id="ipt_area" placeholder="地区名称" autocomplete="off">
    </div>
    <button class="layui-btn" id="btn_sreach" data-type="reload">搜索</button>
</div>
<table id="tb_area" lay-filter="tb_area"></table>
<form class="layui-form" style="display:none;margin:15px 15px 0 0;" id="lay_add" action="" lay-filter="lay_add">
    <input type="hidden" name="id" value="" />
    <div class="layui-form-item">
        <label class="layui-form-label">地区</label>
        <div class="layui-input-block">
            <input type="text" name="area" lay-verify="" autocomplete="off" placeholder="地区" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">小众地区</label>
        <div class="layui-input-block">
            <input type="radio" name="other" value="0" title="否" checked="">
            <input type="radio" name="other" value="1" title="是">
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        </div>
    </script>
    <script type="text/html" id="operation">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        @*<a class="layui-btn layui-btn-xs" lay-event="del">删除</a>*@
    </script>

    <script>
        layui.use(['table', 'form'], function () {
            var table = layui.table, form = layui.form;

            table.render({
                elem: '#tb_area'
                , url: '/Setting/GetAreas' //数据接口
                , method: "get"
                , request: {
                    pageName: "PageIndex"
                    , limitName: "PageSize"
                }
                , page: true //开启分页
                , limit: 20
                , toolbar: '#toolbar'
                , response: {
                    statusCode: 10000 //规定成功的状态码，默认：0
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code,
                        "msg": res.message,
                        "count": res.content.totalCount,
                        "data": res.content.data
                    };
                }
                , cols: [[ //表头
                    { field: 'id', title: 'ID', width: 80, fixed: 'left' }
                    , { field: 'area', title: '地区' }
                    , {
                        field: 'other', title: '小众地区', width: 150, templet: function (item) {
                            return item.other == 0 ? '<span style="color:#009688">否</span>' : '是'
                        }
                    }
                    , { title: '', width: 100, fixed: 'right', toolbar: '#operation' }
                ]]
            });

            //监听行工具事件
            table.on('tool(tb_area)', function (obj) {
                if (obj.event === 'edit') { //编辑
                    obj.data.other = obj.data.other.toString();
                    form.val("lay_add", obj.data);

                    var $form = $("#lay_add");
                    layer.open({
                        title: "编辑",
                        area: ["400px", "230px"],
                        shade: 0,
                        type: 1,
                        content: $("#lay_add"),
                        btn: ['保存', '取消'],
                        yes: function () {
                            var requestBody = $form.serialize();
                            var load = layer.load(2);
                            $.ajax({
                                type: "post",
                                url: "/Setting/UpdArea",
                                dataType: "json",
                                data: requestBody,
                                success: function (result) {
                                    if (result.code == 10000) {
                                        layer.closeAll();
                                        obj.update(result.content);
                                        layer.msg("成功");
                                    } else {
                                        layer.msg(result.message, function () { });
                                    }
                                },
                                error: function (ex) {
                                    layer.msg("异常", function () { });
                                },
                                complete: function () {
                                    layer.close(load);
                                }
                            })
                        }
                    });
                }
            });

            //监听头工具事件
            table.on('toolbar(tb_area)', function (obj) {
                switch (obj.event) {
                    case 'add': //新增
                        //重置表单值
                        var $form = $("#lay_add");
                        $form.find('[name="id"]').val("");
                        $form[0].reset();

                        layer.open({
                            title: "新增",
                            area: ["400px", "230px"],
                            shade: 0,
                            type: 1,
                            content: $("#lay_add"),
                            btn: ['保存', '取消'],
                            yes: function () {
                                var requestBody = $form.serialize();
                                var load = layer.load(2);
                                $.ajax({
                                    type: "post",
                                    url: "/Setting/AddArea",
                                    dataType: "json",
                                    data: requestBody,
                                    success: function (result) {
                                        if (result.code == 10000) {
                                            layer.msg("成功");
                                            location.href = location.href;
                                        } else {
                                            layer.msg(result.message, function () { });
                                        }
                                    },
                                    error: function (ex) {
                                        layer.msg("异常", function () { });
                                    },
                                    complete: function () {
                                        layer.close(load);
                                    }
                                })
                            }
                        });
                        break;
                };
            });

            var $ = layui.$, active = {
                reload: function () {
                    var areaName = $('#ipt_area').val();

                    //执行重载
                    table.reload('tb_area', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            condition: areaName
                        }
                    });
                }
            };

            $('#btn_sreach').on('click', function () {
                var type = $(this).data('type'); //reload
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
}

