
@{
    ViewData["Title"] = "影片库";
}

<h2>@ViewData["Title"]</h2>
<hr class="layui-bg-black">

<div class="sreachBar">
    <div class="layui-inline">
        <input class="layui-input" name="keyword" placeholder="片名关键词" autocomplete="off">
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">上映日期</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="addTime" id="addTime" placeholder=" - ">
        </div>
    </div>
    <button class="layui-btn" id="btn_sreach" data-type="reload">搜索</button>
</div>

<table id="tb_movies" lay-filter="tb_movies"></table>

@section Scripts{
    <script type="text/html" id="operation">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>
        layui.use(['table', 'form', 'laydate'], function () {
            var table = layui.table, form = layui.form, laydate = layui.laydate;

            //日期范围选择
            laydate.render({
                elem: '#addTime'
                , range: true //或 range: '~' 来自定义分割字符
                , max: 0//最大日期为当天
            });

            table.render({
                elem: '#tb_movies'
                , url: '/Movie/GetMovies' //数据接口
                , method: "get"
                , request: {
                    pageName: "PageIndex"
                    , limitName: "PageSize"
                }
                , page: true //开启分页
                , limit: 20
                , toolbar: '#toolbar'
                , response: {
                    statusCode: 10000 //规定成功的状态码，默认：0
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code,
                        "msg": res.message,
                        "count": res.content.totalCount,
                        "data": res.content.data
                    };
                }
                , cols: [[ //表头
                    { field: 'id', title: 'ID', width: 70, fixed: 'left' }
                    , {
                        field: 'shortName', title: '片名', templet: function (item) {
                            return '<a href="javascript:ShowMovie(' + item.id + ')">' + item.shortName + '</a>';
                        }
                    }
                    , { field: 'director', title: '导演',  }
                    , { field: 'releaseDate', title: '上映日期', width: 110, templet: function (d) { return d.releaseDate.substr(0,10) } }
                    , { field: 'movieTime', title: '时长', width: 70, }
                    , { field: 'movieAreaArea', title: '地区',width:90, }
                    , { field: 'score', title: '评分', width: 70, }
                    , { field: 'hot', title: '近期热度', width: 90, }
                    , { field: 'addTime', title: '添加时间', width: 160, }
                    , { field: 'updTime', title: '更新时间', width: 160, }
                    , { title: '', width: 120, fixed: 'right', toolbar: '#operation' }
                ]]
            });

            //监听行工具事件
            table.on('tool(tb_movies)', function (obj) {
                if (obj.event === 'del') { //删除
                    layer.confirm('确定要删除？', { icon: 3, title: '提示' }, function (index) {
                        var load = layer.load(2);
                        $.ajax({
                            type: "delete",
                            url: "/Movie/DelMovie?movieId=" + obj.data.id,
                            dataType: "json",
                            success: function (result) {
                                if (result.code == 10000 && result.content) {
                                    layer.closeAll();
                                    obj.del();
                                    layer.msg("成功");
                                } else {
                                    layer.msg(result.message, function () { });
                                }
                            },
                            error: function (ex) {
                                layer.msg("异常", function () { });
                            },
                            complete: function () {
                                layer.close(load);
                            }
                        })
                    });
                }
                else if (obj.event === 'edit') { //编辑
                    layer.open({
                        type: 2,
                        title: obj.data.fullName,
                        shadeClose: false,
                        shade: 0.4,
                        area: ['900px', '90%'],
                        content: '/Movie/Detail/' + obj.data.id,
                        btn: ['保存', '关闭'],
                        yes: function (index, layero) {
                            var $form = $(layero.find("iframe")[0].contentWindow.document).find("form");
                            var requestBody = $form.serialize();
                            var load = layer.load(2);
                            $.ajax({
                                type: "post",
                                url: "/Movie/UpdMovie",
                                dataType: "json",
                                data: requestBody,
                                success: function (result) {
                                    if (result.code == 10000) {
                                        layer.closeAll();
                                        obj.update(result.content);
                                        layer.msg("成功");
                                    } else {
                                        layer.msg(result.message, function () { });
                                    }
                                },
                                error: function (ex) {
                                    layer.msg("异常", function () { });
                                },
                                complete: function () {
                                    layer.close(load);
                                }
                            })
                        }
                    });
                }
            });

            //搜索
            var $ = layui.$, active = {
                reload: function () {
                    var timeArr = $("#addTime").val().split(' - ');
                    var key = {
                        "Condition.keyword": $('[name="keyword"]').val(),
                        "Condition.beginDate": timeArr[0],
                        "Condition.endDate": timeArr[1],
                    }

                    //执行重载
                    table.reload('tb_movies', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: key
                    });
                }
            };
            $('#btn_sreach').on('click', function () {
                var type = $(this).data('type'); //reload
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
}


