<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--internalLogLevel="info"
  internalLogFile="c:\temp\internal-nlog.txt">-->

  <!-- 启用asp.net核心布局渲染器 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 自定义变量 -->
  <variable name="logDirectory" value="logs"/>

  <targets>
    <!-- 业务日志 -->
    <target xsi:type="File" name="InfoTarget" fileName="${logDirectory}/Info/${date:format=yyyy}/${date:format=MM}/${shortdate}.log"
            layout="${longdate}|${message}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <!-- 警告 -->
    <target xsi:type="File" name="WarnTarget" fileName="${logDirectory}/Warn/${date:format=yyyy}/${date:format=MM}/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}${newline}" />
    <!-- 错误日志 -->
    <target xsi:type="File" name="ErrorTarget" fileName="${logDirectory}/Error/${date:format=yyyy}/${date:format=MM}/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}${newline}" />
  </targets>

  <!-- 从日志程序名称映射到目标的规则 -->
  <rules>
    <!-- 只记录info级别日志 -->
    <logger name="*" level="Info" writeTo="InfoTarget" />
    <!-- 只记录warn级别日志 -->
    <logger name="*" level="Warn" writeTo="WarnTarget" />
    <!-- 只记录error及以上级别日志 -->
    <logger name="*" minlevel="Error" writeTo="ErrorTarget" />
  </rules>
</nlog>